html {
  font-family: Arial, Helvetica;
  font-size: 16px;
}

:root {
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
}

html {
  --bg-primary: var(--neutral-50);
  --bg-inline-code: color-mix(in srgb, var(--neutral-200) 50%, transparent);
  --text-primary: var(--neutral-700);
  --text-strong: var(--neutral-900);
  --text-inline-code: var(--neutral-600);
  --text-header: var(--neutral-800);
  --text-link: var(--neutral-800);
}

html.dark {
  --bg-primary: var(--neutral-950);
  --bg-inline-code: color-mix(in srgb, var(--neutral-800) 50%, transparent);
  --text-primary: var(--neutral-300);
  --text-strong: var(--neutral-100);
  --text-inline-code: var(--neutral-400);
  --text-header: var(--neutral-200);
  --text-link: var(--neutral-200);
}

#content {
  color: var(--text-primary);
  line-height: 2.5rem;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--text-header);
  }
}
